.App {
  text-align: center;
}

.login{
  margin-top: 80px;
  margin-left: 30%;
  margin-right:30%;
  
}

.heading{
  padding-bottom: 50px;
  padding-top: 20px;
  
}

.entryContainer{
  margin-top: 80px;  
  
}

.heading {
  font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link{
  font-size: 15px;
  font-weight: bold;  
}

.entryContainer .navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn), [class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn){
  /* color:#66615b; */
  color:black;
}

.entryContainer .navbar[class*="bg-"] .navbar-toggler .navbar-toggler-bar, .navbar.navbar-transparent .navbar-toggler .navbar-toggler-bar{
  background: #66615B;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
  text-decoration: underline;
  
}

.navbar .navbar-nav .nav-item .nav-link.static:hover{
  text-decoration: none;
  color:#66615B;   
  cursor: default;   
}

.navbar .navbar-nav .nav-item .nav-link.active{  
  background: #51cbce;
  border-radius: 25px;
  color: white;
}



h5.card-title{  
  font-weight: bold;
  font-size: 25px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

h6, .h6{  
  /* font-size: 17px; */
  /* font-family: Arial, Helvetica, sans-serif; */
}

p.card-text{
  color: black;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}


.editDeleteBtn .btn{
  margin-right: 10px;
  margin-top: 10px;
  color: white;
}

a.login_Register{
  font-size: 1.2em;
  font-weight: 500;
  padding-right: 20px;
}

a.login_Register:hover{
  text-decoration: underline;
  font-weight: bold;
}

.page-header {
  background: url("./coverImage.jpg");
  background-size: cover;
  background-position: center;
}

.editDeleteBtn a:not([href]):not([tabindex]){
  color:white;
}


.navImage{
  /* background: url('./coverImage.jpg'); */
 
  background-position: center;
  /* z-index: -1; */
  height: 200px;
  top: 0px;
  left: 0;
  position: absolute;
  width: 100%;

}

.navbar.navbar-transparent {
  padding-top: 0px;

}
 /* .entryContainer .navbar-transparent .navbar-nav .nav-item .nav-link:not(.btn), .active, [class*="bg"] .navbar-nav .nav-item .nav-link:not(.btn) .active {  
    color: white;
} */

li.nav-item:hover {
  cursor: pointer; 
}

#feedback{  
  color:red;  
}